.nav {
  grid-area: n;
  background-color: rgb(63, 63, 42);
  padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink{
  color: gold
}

.item.messages{
  color: blueviolet;
}